* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(img/mv.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  background-position: bottom;
}

main {
  margin: 50px auto;
  width: 840px;
}

h1 {
  padding: 20px;
}

.service1 {
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 1px solid black;
}

.service2 {
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid black;

}

.service3 {
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid black;

}

.service4 {
margin-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid black;

}
